#                     X R P . C O N F I G
#
#   simple key value syntax, no spaces before "=", no "=" in key.
#   key read till the first "=" and rest of it is read as value.
#   anything that starts with a # is a comment.

# COMMON OPTIONS
# 1. "iface" : iface on which you want to install xdp. For now only a single
#    iface is supported
iface=enp3s0
# 2. "add_TC_filters" : install opposite rules in TX using tc filters.
#    applicable only for modes 1 & 2. 
#    set 1 if true, 0 if false
#add_TC_filters=0

# ADD MAPPINGS
# 4 possible maps exist
# 1. simple tcp, dport change, packet consumed locally
#simple_tcp 8000 8500

# 2. http dport change, packet consumed locally
#http_dport test_uri/test/test 80 11111

# 3. tcp daddr and dport change, packet pushed out
#tcp_addr_dport 192.168.0.10 8000 192.168.0.11 8500

# 4. http daddr and dport change, packet pushed out
#http_addr_dport test_uri/test/test 192.168.0.10 8000 192.168.0.11 8500

